<!DOCTYPE html>
<html>
<head>
    <title>多功能聊天室</title>
    <link rel="stylesheet" href="/dist/css/all.css">
</head>
<body>
    <div class="container">
        <h2 class="alert alert-warning">抱歉，您访问的该页面不存在</h2>
        <a href="/" class="btn btn-default">前往聊天室</a>
    </div>

</body>
</html>